.nextembed_popup {
    display: none;
    width: 40vw;
    min-width: 578px;
    height: 134px;
    z-index: 9999;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
}

.nextembed_popup.bubble:before {
    color: red;
    position: absolute;
    line-height: 31px;
    opacity: .3;
    transform: rotate(358deg);
    content: "Only for testing purpouse - Only for testing purpouse - Only for testing purpouse - Only for testing purpouse - Only for testing purpouse - Only for testing purpouse - Only for testing purpouse - Only for testing purpouse - Only for testing purpouse - Only for testing purpouse - Only for testing purpouse - Only for testing purpouse - Only for testing purpouse - Only for testing purpouse - Only for testing purpouse - Only for testing purpouse - Only for testing purpouse - Only for testing purpouse - Only for testing purpouse - Only for testing purpouse - Only for testing purpouse - Only for testing purpouse - Only for testing purpouse - Only for testing purpouse - Only for testing purpouse - Only for testing purpouse - Only for testing purpouse - ";
}

.fpp-anti-bauble:after {
    display: none !important;
}

.fpp-anti-bauble:before {
    bottom: -5%;
    transform: rotate(180deg);
    right: 7px;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: var(--color-main-background);
    border-width: 9px;
}

.nextembed_popup #fpp-preview-loading {
    margin-top: 50%;
}

.nextembed_popup textarea{
    width: 100%;
    height: 100%;
    background: transparent;
    position: relative;
    resize: none;
}